/* Extra Large Desktop : 1400px → ∞ */
@media screen and (min-width: 1400px) {}



/* Small Desktop / Laptop : 992px → 1199px */
@media screen and (max-width: 1199px) {
    .feature-container .feature-img .experience-badge {
        margin-top: -50px;
        margin-left: -30px;
    }
/* 
    .facts-container .fact-card-box {
        grid-template-columns: repeat(4, 1fr);
        padding-inline: 1rem;
    } */
}

/* Tablet (Landscape) : 768px → 991px */
@media screen and (max-width: 991px) {
    .teams-container {
        flex-direction: column;
        text-align: center;
    }

    .teams-container .teams-img {
        margin-bottom: 2rem;
    }

    .feature .feature-container {
        flex-direction: column;
    }

    .feature-container .feature-img .experience-badge {
        margin-top: -70px;
        margin-left: -20px;

    }
}

/* Large Mobile : 576px → 767px */
@media screen and (max-width: 767px) {}


/* Mobile : 360px → 575px */
@media screen and (max-width: 575px) {
    .nav-container .nav-menu .nav-item {
        display: none;
    }

    .nav-container {
        justify-content: center;
    }

    .teams-container .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-container .teams-content {
        padding-left: 0px;
    }

    .feature-img .experience-badge .experience-year {
        font-size: 2.9rem;
    }

    .feature-container .feature-img .experience-badge {
        margin-top: -40px;
        margin-left: 10px;

    }
}