/* ------google font link---- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* ------------------------------------------------------------------------------------ */
/* ------shared style start---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: min(90%, 1440px);
    margin: 0 auto;
    padding-inline: 1rem;
}

/* ----dark 03  */
.light-gray {
    color: #727272;
}

/* ----dark 02 */
.dark-light-gray {
    color: #424242;
}

/* ---primary color */
.yellow-color {
    color: rgba(255, 144, 14, 1);
}

/* ---common class */
.display-flex {
    display: flex;
}

/* ----common text===== */
.text-primary {
    font-size: 1rem;
    font-weight: 1.25rem;
    color: #424242;
    line-height: 1.5rem;
}

.primary-btn {
    font-size: 1.21rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 20px 24px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    border: none;
}

.section-heading {
    font-size: clamp(1.75rem, 3.8vw, 22.9rem);
    font-weight: 600;
}

.teams {
    margin-bottom: clamp(4rem, 9vw, 6.2rem);
}

/* ----------shared style end-------- */

/* ---==-==header area style start------ */
/* ------navbar style start=== */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(1.75rem, 4vw, 2rem);
    margin-bottom: clamp(2rem, 7vw, 6.25rem);
}

.nav-container .nav-menu .nav-item {
    list-style: none;
    margin-left: 2rem;
}

.nav-container .nav-menu .nav-link {
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-container .brand-logo {
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 700;
}

/* ------navbar style end=== */
/* --=-=-= banner style start---- */

.banner-container .banner-content {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.banner-content .banner-heading {
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 1.7rem;
}

.banner-container .banner-content .text-info {
    margin-bottom: 2rem;
}

.banner-container .banner-img {
    max-width: 1440px;
    width: 100%;
    padding-top: clamp(1.75rem, 4vw, 3rem);
    padding-bottom: 2.9rem;
}

.banner-container .banner-img img {
    width: 100%;
    height: auto;
    display: block;
}

/* --=-=-= banner style end---- */
/* ---==-==header area style end------ */

/* -----------main area style start--------- */

/* ------teams section style start------ */
.teams {
    padding-top: clamp(3rem, 5vw, 5rem);
}
.teams-container{
    align-items: center;
    padding-inline: 4rem;
}
.teams-container .teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* max-width: 342px; */
    width: 100%;
}

.teams-container .teams-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ------teams section style end------ */

/* -----------main area style end--------- */