/* ------google font link---- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* ------------------------------------------------------------------------------------ */
/* ------shared style start---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: min(90%, 1440px);
    margin: 0 auto;
}

/* ----dark 03  */
.light-gray {
    color: #727272;
}

/* ----dark 02 */
.dark-light-gray {
    color: #424242;
}

/* ---primary color */
.yellow-color {
    color: rgba(255, 144, 14, 1);
}

/* ---common class */
.display-flex {
    display: flex;
}

/* ----common text===== */
.text-primary {
    font-size: 1rem;
    font-weight: 500;
    color: #727272;
    line-height: 1.5rem;
}

.primary-btn {
    font-size: 1.21rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 24px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    border: none;
}

.section-heading {
    font-size: clamp(2.2rem, 3vw, 2.8rem);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.teams,
.feature,
.sponsors {
    margin-bottom: clamp(4rem, 9vw, 6.2rem);
}

/* ----------shared style end-------- */

/* ---==-==header area style start------ */
/* ------navbar style start=== */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(1.75rem, 4vw, 2rem);
    margin-bottom: clamp(2rem, 7vw, 6.25rem);
}

.nav-container .nav-menu .nav-item {
    list-style: none;
    margin-left: 2rem;
}

.nav-container .nav-menu .nav-link {
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-container .brand-logo {
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 700;
}

/* ------navbar style end=== */
/* --=-=-= banner style start---- */

.banner-container .banner-content {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.banner-content .banner-heading {
    font-size: clamp(2.9rem, 6vw, 3.9rem);
    margin-bottom: 1.7rem;
}

.banner-container .banner-content .text-info {
    margin-bottom: 2rem;
}

.banner-container .banner-img {
    width: 100%;
    padding-top: clamp(1.75rem, 4vw, 3rem);
    padding-bottom: 2.9rem;
}

.banner-container .banner-img img {
    width: 100%;
    height: auto;
    display: block;
}

/* --=-=-= banner style end---- */
/* ---==-==header area style end------ */

/* -----------main area style start--------- */

/* ------teams section style start------ */
.teams {
    padding-top: clamp(3rem, 5vw, 5rem);
}

.teams-container {
    align-items: center;
    gap: clamp(2rem, 5vw, 4rem);
    padding-inline: clamp(0.875rem, 1.5vw, 2rem);
}

.teams-container .teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.teams-container .teams-img img {
    max-width: 342px;
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.teams-container .teams-content {
    max-width: 537px;
    width: 100%;
    padding-left: clamp(2rem, 3vw, 4rem);

}

#quick-list {
    font-weight: 500;
}

.teams-content .teams-info {
    margin-bottom: 2rem;
}

/* ------teams section style end------ */

/* =======feature section style start----- */
.feature .feature-container {
    align-items: center;
    gap: clamp(1rem, 6vw, 8rem);
}

.feature-content .section-heading {
    max-width: 468px;
    width: 100%;
    padding-left: 1.25rem;
    border-left: 5px solid rgba(255, 144, 14, 1);
}

.feature-content .feature-card .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.feature-content .feature-info {
    margin-bottom: 1.9rem;
}

.feature-content .feature-card {
    margin-top: 0;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-container .feature-img {
    max-width: 800px;
    width: 100%;
}

.feature-container .feature-img img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.feature-container .feature-img .experience-badge {
    padding: 42px 42px;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    margin-top: -105px;
    margin-left: -80px;
}

.feature-img .experience-badge .experience-year {
    font-size: 3.8rem;
    font-weight: 700;
    color: white;
}

.feature-img .experience-badge .experience-text {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

/* =======feature section style end----- */
/* ===------some fact section style start-==== */
.facts {
    margin-bottom: clamp(3rem, 6vw, 11.25rem)
}

.facts-container .fact-content {
    max-width: 542px;
    width: 100%;
    margin-bottom: clamp(2rem, 5vw, 6.25rem);
}

.fact-card .card-details .card-number {
    font-size: clamp(1.7rem, 3.1vw, 2.8rem);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-card .card-details .card-text {
    font-size: 1.25rem;
    font-weight: 600;
}

.facts-container .fact-card-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1.5rem, 5vw, 4rem);
    padding-inline: 2rem;
}

.fact-card-box .fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    height: 241px;

    /* max-width: 241px; */
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
}

.fact-card-box .fact-card .card-details {
    text-align: center;
}

/* ===------some fact section style end-==== */
/* -----sponsors style start------ */
.sponsors-container .sponsors-content {
    max-width: 542px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.sponsors-content .sponsor-info {
    margin-bottom: 3rem;
}

.sponsors-container .company-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
    gap: clamp(2rem, 10vw, 8rem);
}

/* -----sponsors style end------ */
/* -----------main area style end--------- */
/* -------==footer area stye start----- */
footer {
    margin-bottom: clamp(3rem, 8vw, 6rem);
}

.footer-container {
    background-color: rgba(255, 244, 231, 1);
}

.footer-container .footer-content {
    text-align: center;
    padding-block: 2.8rem;

}

/* -------==footer area stye end----- */